<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}
</style>
<title>Vardu lentele</title>
</head>
<body>

<h1>Pirmos grupes nariai</h1>


<table>
  <tr>
    <th>Vardas</th>
    <th>Pavarde</th>
  </tr>
  <tr>
    <td>Migle</td>
    <td>Kerpauskaite</td>
  </tr>
  <tr>
    <td>Rokas</td>
    <td>Prabusas</td>
  </tr>
  <tr>
    <td>Antanas</td>
    <td>Pupinis</td>
  </tr>
  <tr>
    <td>Alanas</td>
    <td>Petrauskas</td>
  </tr>
    <tr>
    <td>Karolis</td>
    <td>Michalevicius</td>
  </tr>
</table>




</body>
</html>